header {
  width: 100%;
  position: fixed;
  z-index: 100;
  
}

.inner {
  max-width: 1280px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px; 
  border-radius: 40px; 
  background: rgba(255, 255, 255, 0.7); /* light white transparent */
  backdrop-filter: blur(10px);         /* blur effect */
  -webkit-backdrop-filter: blur(10px); 
 
            
}



.headerB1 h1 {
  font-family: 'Stack Sans Notch', sans-serif;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}

.headerB2 ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.headerB2 ul li a {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

 .headerB2 ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
  padding: 5px 0;
}

/* underline animation */
.headerB2 ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #9B1C31;
   
}

/* hover effect */


.headerB2 ul li a:hover::after {
  width: 100%;
}

.headerB2 ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
  padding: 5px 0;
  transition: color 0.3s ease;
}

/* underline animation */
.headerB2 ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #9B1C31;
  transition: width 0.4s ease;
}

/* hover effect */
.headerB2 ul li a:hover {
  color: #9B1C31;
}

.headerB2 ul li a:hover::after {
  width: 100%;
}

