.banner {
  max-width: 100%;
  /* background-color: #f5f5f5; */
  /* padding: 110px 0 0 0; */
  /* background: url('../../assets/banner.png')
        no-repeat center center/cover; */
}

.bInner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  min-height: 700px;
}
.bLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bLeft h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 20px;
  color: #f5f5f5;
}

.bLeft h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 40px;
  line-height: 42px;
  margin-bottom: 20px;
  color: #f5f5f5;
}

.bLeft h3 {
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #f5f5f5;
}
.bRight {
  display: flex;
  justify-content: center;
  align-items: end;
}

.bRight img {
  width: 93%;
  height: 93%;
  object-fit: cover;
}

@media (max-width: 720px) {
  .banner {
    padding: 193px 15px 10px 15px;
  }

  .bInner {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: unset;
  }

  .bLeft h1 {
    font-size: 38px;
    line-height: 44px;
  }
  .bLeft h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .bLeft h3 {
    font-size: 24px;
    line-height: 28px;
  }
}
